.contact_section{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact_section h1{
    font-size: 48px;
    font-weight: 800;
}

.contact_section p{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray);
    max-width: 975px;
}