.primary_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 18px 10px;
    min-width: 220px;
    height: 44px;
    gap: 8px;
    font-family: 'Poppins';
    font-weight: 500;
}
.outline_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    padding: 18px 10px;
    min-width: 220px;
    height: 44px;
    gap: 8px;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 500;
}
